@import "linja-pona/stylesheet.css";

html, body {
  overflow-x: hidden;
}
body {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 137.5%;
  color: #666;
}
main {
  max-width: 60em;
  margin: 1em auto;
  text-align: justify;
  border: solid #ccc 1px;
  background-color: #fff;
  padding: 2.5em 2em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 2.5em rgba(0, 0, 0, 0.1) inset; /* http://read.gov/aesop/ */
}
main.narrow {
  max-width: 40em;
}
h1 {
  text-align: center;
}
hr {
  width: 80%;
  border: 0.75px solid;
}
footer div[title="jan Tepu"] {
  font-family: linja-pona;
  text-align: right;
}

@media only screen and (max-width:66em) {
  main { margin-top: 0 }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #bd1c2b;
}
a:hover {
  color: #84141e;
}

.linja-pona {
  font-family: linja-pona;
}
.linja-pona h1 {
  font-weight: normal;
}
.linja-pona q {
  margin-right: 0.5em;
}
.linja-pona q::after {
  margin-left: -0.5em;
}
.linja-pona em {
  font-style: normal;
  font-weight: bold;
}
.linja-pona .pi-anpa {
  font-weight: normal;
  font-size: 150%;
  display: inline-block;
  vertical-align: -0.18em;
  margin-right: -0.7em;
  margin-left: -0.2em;
}
.linja-pona .pi-kulupu>:first-child {
  font-size: 0;
}
.linja-pona .pi-kulupu>:last-child {
  display: inline-block;
  height: 1.2em;
  padding-left: 0.1em;
  margin-left: 0.05em;
  border-left: 0.065em solid;
  border-bottom: 0.065em solid;
}

dt {
  font-weight: bold;
}
.linja-pona dt {
  font-weight: normal;
  font-size: 200%;
  float: left;
}
dt, dt + dd {
  padding-top: 0.5rem;
}
dd {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}
dd em {
  margin-right: 1em;
}
dl>br {
  display: none;
}
.linja-pona dl>br {
  display: block;
  clear: both;
}

#ante-sitelen {
  position: fixed;
  top: 0.4em;
  right: 0.5em;
}
.linja-pona #ante-sitelen {
  font-size: 200%;
}

.ligfix del {
  text-decoration: none;
}
.ligfix ins {
  text-decoration: none;
  display: none;
}
.linja-pona .ligfix del {
  display: none;
}
.linja-pona .ligfix ins {
  display: inline-block;
  width: 1em;
  white-space: nowrap;
}
.linja-pona .punct {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.5em;
}

.linja-pona .overlay-glyphs {
  display: inline-block;
  position: relative;
  line-height: 1em;
  height: 1em;
}
.linja-pona .overlay-glyphs>:first-child.nimi-lon {
  vertical-align: -0.45em;
}
.linja-pona .overlay-glyphs>:last-child {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: inherit;
  font-size: 50%;
  font-weight: bold;
}
.linja-pona .overlay-glyphs>:first-child.nimi-ken  + span { top: -0.65em }
.linja-pona .overlay-glyphs>:first-child.nimi-wile + span { top: -0.50em }
.linja-pona .overlay-glyphs>:first-child.nimi-pona + span { top: -0.50em }
.linja-pona .overlay-glyphs>:first-child.nimi-lon  + span { top: -0.40em }
.linja-pona .overlay-glyphs>:first-child.nimi-len  + span { top: -0.21em }
.linja-pona .overlay-glyphs>:first-child.nimi-mi   + span { top: -0.20em; left: 0.03em }
.linja-pona .overlay-glyphs>:first-child.nimi-toki + span { top:  0.13em }
.linja-pona .overlay-glyphs>:first-child.nimi-tan  + span { top:  0.30em; left: 0.15em }
